#!/bin/bash

EMAIL_TO="{{ alert_email }}"
TIMESTAMP_FILE="/var/lib/login-alert-last-check"
HOSTNAME=$(hostname)

exec 1> >(logger -t login-alert -p user.info)
exec 2> >(logger -t login-alert -p user.err)

[ ! -f "$TIMESTAMP_FILE" ] && date +%T > $TIMESTAMP_FILE && echo "Initialized timestamp file" && exit 0

START_TIME=$(cat "$TIMESTAMP_FILE")

NEW_LOGINS=$(ausearch -if /var/log/audit/audit.log --start $START_TIME -m USER_LOGIN | grep 'res=success')
if [ ! -z "$NEW_LOGINS" ]; then
    echo "Sending email to $EMAIL_TO"
    echo -e "Subject: [Alert] New SSH Login on $HOSTNAME\n\n$NEW_LOGINS" | msmtp "$EMAIL_TO"
fi
date +%T > $TIMESTAMP_FILE
